
<% if session[:id] == nil %>
  <ul>
      <% if Twit.count < 5 %>
        <% Twit.all.each do |twit|%>
        <li class="twitblocklist">"<%= twit.content%>" - from - <%= twit.user.name %> (<%= twit.user.username %>)</li>
        <% end %>
      <% else %>
        <% ( 5 + Math.sqrt(Twit.count).floor/5 ).times do %>
          <% random_twit = Twit.all.sample %>
          <li class="twitblocklist">"<%= random_twit.content %>" - from - <%= random_twit.user.name %> (<%= random_twit.user.username %>)</li>
        <% end %>
      <% end %>
  </ul>
<% else %>
  <h1>Welcome! </h1>
  <ul>
  <% User.all.each do |user| %>
    <li class="blocklist"><a href="/users/<%= user.username %>"><%= user.username %></a></li>
  <% end %>
  </ul>
<% end %>