<div class="container">
  <h2>Edit Profile</h2>
  <form action="/profile/<%= @current_user.username %>/update" method="post">
    <table class="mainform">
    	<tr><td>Name:</td> <td><input type="text" name="name" value="<%= @current_user.name %>"></td></tr>
    	<tr><td>User Name:</td> <td><input type="text" name="updated_username" value="<%= @current_user.username %>"></td></tr>
    	<tr><td>Email:</td> <td><input type="text" name="email" value="<%= @current_user.email %>"></td></tr>
      <tr><td></td><td><input type="submit" value="Update"></td></tr>
     </table>
  </form>
  <br/>
  <%= session[:message] %>
</div>