<div class="container bound">

	<h2>Account Details for: <%= @current_user.username %>!</h2>
	<hr/>
	<div class="inline_buttons">
		<form class="align_right" action="/profile/<%= @current_user.username %>/update" method="get">
		  <input type="submit" value="Edit Profile">
		</form>

		<br>

		<form action="/profile/<%= @current_user.username %>/password" method="get">
		  <input type="submit" value="Change Password">
		</form>
	</div>

	<ul class="profilelist">
		<li>Name: <%= @current_user.name %></li>
		<li>User name: <%= @current_user.username %></li>
		<li>Email: <%= @current_user.email %></li>
		<li>Member since: <%= @current_user.created_at %></li>
	</ul>



	<!-- <h3>Profile: <%= @current_user.username %>!</h3> -->

</div>